<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="siteConnectionDev" connectionString="Data Source=72.32.211.82;Initial Catalog=iHydrant_prod;User ID=ihydrantipservice;Password=iHydrant@123; Application Name=iHydrant;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>